<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108486831143-isjt7gtmd6mdtgmarbgt1k7ihf30ngq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108486831143-isjt7gtmd6mdtgmarbgt1k7ihf30ngq7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108486831143-chprnl8rcukjhp5o0s4b0l0hvn27dh82.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeGLlin6WsL4qSlF90mKq6rNfh9eTkqlo</string>
	<key>GCM_SENDER_ID</key>
	<string>108486831143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lqd.flutterPhotoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-photo-app-373902</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-photo-app-373902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108486831143:ios:c0ff59d5f8efdc2f91f202</string>
</dict>
</plist>